.head-img{
    width: 100vw;
    height: 12.92vw;
    background-image: url(../img/company_06.jpg);
    background-size: 100%;
}
.main{
    padding-bottom: 230px;
}
.line1{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 15px;
}
.line1 .par-com{
    color: rgb(41, 176, 120);
}

.left-bar{
    width: 100%;
    height: auto;
    padding: 0;
    background-color: white;
    box-shadow: 0 0 3px rgb(222, 222, 222);
    padding-bottom: 40px;
    margin-bottom: 30px;
    margin-top: -10px;
    border-radius: 4px;
}
.left-bar h4{
    font-weight: bold;
    padding-top: 21px;
    padding-bottom: 24px;
    border-bottom: 1px solid rgb(222, 222, 222);
    text-align: center;
}
.cpy{
    width: 100%;
    margin-top: 40px;
    margin-bottom: 0;
    border: none;
}
.dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    border: 1.5px solid rgb(255, 101, 14);
    display: inline-block;
}
.cpy:hover .dot{
    background-color: rgb(249, 163, 114);
}
.cpy:hover .company-name{
    color: rgb(255, 101, 14);
}
.company-name{
    width: 5em;;
    font-size: 14px;
    color: rgb(41, 176, 120);
    display: inline-block;
    text-align: left;
}
.main-text{
    font-size: 14px;
    color: rgb(153, 153, 153);
}
.main-text-top{ 
    border: 1px solid rgb(222, 222, 222);
    background-color: white;
}

.cpy-logo{
    width: 160px;
    height: 80px;
    background-image: url(../img/company.jpg);
    background-position: center center;
    background-repeat: no-repeat; 
    display: inline-block;
}
.company-logo-box{
    padding: 0;
}
.right-box{
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 0 3px rgb(222, 222, 222);
}
.brief-box{   
    padding: 20px 5% 20px 5%;  
    border-bottom: 1px solid rgb(222, 222, 222);
}
.cpy-brief{
    display: inline-block;
    text-indent: 2em;
    
}
.main-text-bottom{
    clear: both;    
    padding: 0 5% 180px 5%;
}
.main-text-bottom p{
    padding-top: 40px;
    margin: 0;
    text-indent: 2em;
}
