$blue:#5fc0cd;
$gray:#eff0f4;
$width:100%;
@mixin fontstyle {
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
}
@mixin logo {
    width: 18px;
    height: 22px;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    background-repeat: no-repeat;
}
input::-webkit-input-placeholder{
    color: #e1e5e7;
    font-size: 14px
}
body{
    margin: 0;
   .header{
        height: 45px;
        width: $width;
        background-color: $blue;
        text-align: center;
        .btn-left{
            @include fontstyle();
            position: absolute;
            left: 0;
            margin-left: 15px;
            margin-top: 16px;
        }
        .title{
            @include fontstyle();
            font-size: 16px;
            margin-top: 12px;
        }
        .btn-right{
            @include fontstyle();
            position: absolute;
            right: 0;
            margin-right: 15px;
            margin-top: 16px;
        }
    } 
    .main{
        width: $width;
        background-color: $gray;
        height: 100vh;
        padding-top: 8px;
        .input-bac{
            width: $width;
            height: 50px;
            background-color: #ffffff;
            margin-bottom: 8px;
            align-items: center;
            display: -webkit-flex;
            .logo1{
                @include logo();
                background-image: url(../img/image_0005s_0001_iphone.png);
            }
            .logo2{
                @include logo();
                background-image: url(../img/image_0005s_0000_locked-2.png);        
            }
             .line{
                width: 1px;
                height: 26px;
                background-image: url(../img/image_0005s_0006_矩形-5.png);
                display: inline-block;
            }
            input{
                width: 80%;
                height: 20px;
                border: none;
                outline: none;
                margin-left: 16px;  
            }
        }
        .btn{
            width: $width;
            height: 50px;
            line-height: 50px;
            background-color: $blue;
            text-align: center;
            margin-top: 28px;
            @include fontstyle();
            font-size: 16px;
        }
        .fgtpass{
            font-size: 12px;
            color: $blue;
            float: right;
            margin-top: 10px;
            margin-right: 16px;
        }
    }
}
