.np{
    padding: 0;
}
.head-bg{
    height: 40px;
    width: 100%;
    background-color: #1d7ad9;
}
.tel{
    height: 40px;
    color: #ffffff;
    font-size: 10px
}
.tel p{
    line-height: 40px;
    margin: 0;
}
.row1{
    position: relative;
}
.log-in{
    height: 40px;
    position: absolute;
    text-align: right;
    right: 0;
}
.dl{
    width: 55px;
    height: 40px;
    line-height: 40px;
    font-size: 10px;
    text-align: center;
    color: #ffffff;
    background-color: #1d7ad9;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    float: left;
}
.dl:hover{
    width: 104px;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    text-align: center;
    color: black;
    background-color: #ffffff;
    float: left;
}
.head-nav{
    width: 100%;
    height: 100px;
    background-color: #F9F9F9;
}

.row2{
    position: relative;
}
.nav-box{
    padding-top: 31px;
    position: absolute;
    right: 0;
}
.nav-bar{
    line-height: 35px;
    padding-left:17px;
    padding-right: 17px;
    margin-left: 40px;
    background-color: hsl(0, 0%, 100%);
    color: #8a8a8a;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    border: 0;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #e6e6e6;
}
.submenu{
    width: 100%;
    background-color: #f9f9f9;
}
.nav-bar:hover{
    background-color: #6ab0f7;
    color: #ffffff;
}
.nav-bar:active{
    background-color: #1d7ad9;
    color: #ffffff;
}
.nav-bar:focus{
    outline: none;
    background-color: #1d7ad9;
    color: #ffffff;
}
.content-box{
    padding-bottom: 5px;
    display: none;
}
.content{
    text-align: center;
    height: 25px;
    width: 95%;
    line-height: 25px;
    font-size: 12px;
    color: #8a8a8a;
    font-weight: bold;
    background-color: #ffffff;
    border-radius: 8px;
    margin: auto;
    margin-bottom: 7px;
}
@media (max-width: 768px){
    .nav-bar{
        margin-left: 30px;
    }
}
@media (max-width:460px){
    .nav-bar{
        display: none;
    }
    .head-nav{
        height: 50px;
    }
    .sub-btn{
    width: 29px;
    height: 29px;
    border-radius: 5px;
    background-image: url(../img/css_sprites\ .png);
    background-position: -122px -10px;
    position: absolute;
    right: 0;
    top: 50px;
    margin-right: 15px;
    }
    .submenu:hover .content-box{
        display: block;
    }
    .content:hover{
        background-color: #1d7ad9;
        color: #ffffff;
    }
}

.main{
    height: auto;
    padding-top: 35px;
    padding-bottom: 54px;
    background-color: #ffffff;
}
.step{
    width: 160px;
    position: relative;
    display: inline-block;
    margin-right: -8px;
}
.pr-bar{
    width: 160px;
    height: 5px;
    border-radius: 2px;
    background-color: #cccccc;
    display: inline-block; 
    position: relative;
}
.circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #cccccc; 
    position: absolute; 
    top: 6px;
    left: 70px;
}
.circle span{
    color: #ffffff;
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    top: 3px;
    left: 7px;
}
.step-no{
    width: 60px;
    font-size: 12px;
    font-weight: bold;
    color: #cccccc;
    margin: auto;
    margin-top: 20px;
}
.step:hover .pr-bar{
    background-color: #ff7f02;
    z-index: 9;
}
.step:hover .circle{
    width: 24px;
    height: 24px;
    background-color: #ff7f02;
    top: 3px;
    left: 68px;
    z-index: 99;
}
.step:hover .circle span{
    top: 5px;
    left: 9px;
}
.step:hover .step-no{
    color: #ff7f02;
}
@media (max-width:768px){
    .step{
        width: 90px;
    }
    .pr-bar{
        width: 90px;
    }
    .circle{
        left: 35px;
    }
    .main{
        padding-top: 20px;
    }
    .step:hover .circle{
        left: 35px;
    }
}
@media (max-width:460px){
    .step{
        width: 65px;
    }
    .pr-bar{
        width: 65px;
    }
    .circle{
        left: 24px;
    }
    .step-no{
        width: 50px;
        font-size: 10px;
    }
    .main{
        padding-top: 15px;
    }
    .step:hover .circle{
        left: 22px;
    }
}
.title .line{
    width: 4px;
    height: 21px;
    border-radius: 3px;
    background-color: #1d7ad9;
    display: inline-block;
    margin-right: 6px;
}
.title{
    margin-top: 50px;
    margin-bottom: 15px;
    align-items: center;
    display: -webkit-flex;
}
@media (max-width:768px){
    .title{
        margin-top: 30px;
    }
}
.tips{
    height: 21px;
    font-size: 16px;
    font-weight: bold;
    line-height: 21px;
    display: inline-block;
}
.box{
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
    border-radius: 5px;
    position: relative;
}
.sub-menu{
    height: 45px;
    width: auto;
    align-items: center;
    display: -webkit-flex;
    margin-left: 0;
    margin-right: 0;
}
.sub-menu2{
    height: 45px;
    width: auto;
    background-color: #f5f5f5;
    align-items: center;
    display: -webkit-flex;
    margin-left: 0;
    margin-right: 0;
}
.logo{
    background-image: url(../img/css_sprites\ .png);
    margin-left: 10px;
}
.lg1{
    width: 19px;
    height: 15px;
    background-position: -87px -122px;
    margin-right: 9px;
}
.lg2{
    width: 22px;
    height: 20px;
    background-position: -10px -122px;
    margin-right: 7px;
}
.lg3{
    width: 15px;
    height: 20px;
    background-position: -52px -122px;
    margin-right: 10px;
}
.sub-title{
    font-size: 14px;
    color: #1d7ad9;
    font-weight: bold;  
}
.choose-box{
    width: 100%;
    padding-top: 35px;
    padding-bottom: 30px;
    height: auto;
    font-size: 14px;
    color: #666666;
    background-color: #fbfcff;
    border: 1px solid #f5f5f5;
    padding-left: 5%;
    margin-left: 0;
    align-items: center;
    display: -webkit-flex;
    position: relative;
}
.radio-box{
    height: 18px;
    position: relative;
    float: left;
    line-height: 18px;
    cursor: pointer;
    margin: 0;
    margin-right: 60px;
    align-items: center;
    display: -webkit-flex;
}
.radio-box input{
    opacity: 0;
    margin-left: -15px;
    margin-right: 16px;
}
.radio-box .radio-bg{
    display: inline-block;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    padding: 0;
    background-color: #f8f9fb;
    border: 1px solid #d6d6d6;
}
.radio-on{
    display: none;
}
.radio-box input:checked +span.radio-on{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 7px solid #1d7ad9;
    position: absolute;
    top: 0;
    display: inline-block;
}
.selector{
    width: 129px;
    height: 39px;
    border: 1px solid #e8e8e8;
    position: absolute;
    right: 0;
    margin-right: 10px;
}
.selector2{
    height: auto;
    padding: 0;
    align-items: center;
    display: -webkit-flex;
}

select{
    border: none;
    outline: none;
    height: 37px;
    width: 100%;
    line-height: 39px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-left: 17px;
    color: #999999;
}
.selector::after{
    content: "";
    width: 24px;
    height: 28px;
    background-image: url(../img/css_sprites\ .png);
    background-position: -122px -59px;
    position: absolute;
    right: 0;
    margin-right: 5px;
    top: 5px;
    pointer-events: none;
}
.input-text{
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    width: 70px;
    height: 30px;
    border: 1px solid #e8e8e8;
    display: inline-block;
    margin-left: 8px;
    margin-right: 4px;
    background-color: #fbfcff;
}
.lb2{
    margin: 0;
    float: none;
    margin-right: 60px;
}
.inline-box{
    width: 100%;
}
.mar{
    margin-right: 30px;
    margin-bottom: 15px;
}
@media (max-width:992px){
    .lb2{
        display: -webkit-box;
    }
}
@media (max-width:768px){
    .radio-box{
        margin-right: 30px;
        display: -webkit-flex;
    }
    .label-box{
        align-items: flex-start;
    }
    .inline-box{
        width: 80%;
    }
}
@media (max-width:550px){
    .selector2{
        display: grid;
    }
    .radio-box{
        margin-bottom: 10px;
    }
    .selector{
        top: 10px
    }
}
@media (max-width:460px){
    .inline-box{
        width: 70%;
    }
}
.submit-box{
    width: 100%;
    height: 286px;
    background-color: #ffffff;
    border: 1px solid #f5f5f5;
}
.btn{
    width: 180px;
    height: 45px;
    line-height: 31px;
    border-radius: 5px;
    background-color: #e15053;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    margin-top: 140px;
}
.foot-info{
    width: 100%;
    height: auto;
    background-color: #f9f9f9;
    padding-top: 70px;
    padding-bottom: 30px;
}
.plat{
    font-size: 14px;
    color: #999999;
    font-weight: bold;
    margin-bottom: 20px;
}
.link{
    font-size: 12px;
    color: #999999;
    font-weight: bold;
    padding: 0;
    text-align: left;
    display: inline-block;
}
.link:hover{
    color: #1d7ad9;
}
.contact{
    padding: 0;
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
}
.way{
    font-size: 12px;
    height: 20px;
    color: #999999;
    font-weight: bold;
    padding: 0;
    text-align: left;
}
.qrcode{
    padding: 0;
    background-image: url(../img/css_sprites\ .png);
    width: 92px;
    height: 92px;
    background-position: -10px -10px;
    display: inline-block;
}
.foot-comp{
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #1d79d9
}
.foot-comp p{
    font-size: 10px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 0;
}
