.header{
    height: 34px;
    width: 100%;
    background-color: rgb(41, 189, 224);
    position: fixed;
    top: 0;
}
.title{
    color: white;
    font-size: 14px;
    display: inline-block;
    line-height: 34px;
}
.menu{
    height: 20px;
    width: 19px;
    background-image: url(../image/css_sprites.png);
    background-position: -314px -267px;
    float: left;
    margin-top: 7px;
    margin-left: 11px;
    margin-right: -11px;
}
.main{
    margin-top: 34px;
}
.bubble-box{
    width: 100%;
    height: 57px;
    background-color: rgb(41, 189, 224);
}
.bubble-box-top{
    width: 100%;
    height: 41px;
    background-color: rgb(185, 233, 245);
    color: #596365;
    font-size: 11px;
    line-height: 41px;
    padding-left: 13%;
    position: relative;
}
.btn-music{
    position: absolute;

}
.bubble-box-bottom{
    height: 0;
    width: 0;
    border-width: 8px 5px 8px 5px;
    border-style: solid;
    border-color:  rgb(185, 233, 245) rgb(41, 189, 224) rgb(41, 189, 224) rgb(41, 189, 224);
    margin-left: 15%;
    float: left;
}
.tip{
    color: white;
    font-size: 11px;
    background-color: rgb(41, 189, 224);
}
.tip p{
    margin-left: 15%;
    margin-bottom: 0;
}