$blue:#29bde0;
$orange:#ffc865;
$black:#515151;
$gray:#a6a6a6;
$red:#f66f6f;
$yellow:#fbb435;
body{
    margin: 0;
}
header{
    width: 100%;
    height: 40px;
    position: fixed;
    top: 0;
    background-color: $blue;
    .btn-left{
        background-image: url(../img/css_sprites.png);
        width: 26px;
        height: 21px;
        background-position: -10px -179px;
        float: left;
        margin-left: 8px;
        margin-top: 9px;
    }
    .btn-right{
        background-image: url(../img/css_sprites.png);
        width: 20px;
        height: 20px;
        background-position: -206px -102px;
        float: right;
        margin-right: 8px;
        margin-top: 10px;
    }
}