body{
    width: 100%;
    font-size: 62.5%;

}
.cutoffline{
    height: 0;
    width: 100%;
    margin: 0;
    border: 0;
    padding: 0;
    border-top: 0.1em solid #E1E5E7;
}
.divide{
    height: 30px;
    width: 0;
    border: 0;
    margin: 0;
    padding: 0;
    border-left: 1px solid #E1E5E7;
    float: right;
    margin-top: 5px;
}
.header{
    width: 100%;
    height: 5.5em;
    background-color: #5fbfcd;
    position: fixed;
    top: 0;
    align-items: center;
    display: -webkit-inline-flex;
    z-index: 1;
    right: 0;
    margin: 0;
}
.head{
    line-height: 4.4em;
    margin: 0;
}
.row{
    margin-left: 0;
    margin-right: 0;
}
.nav{
    background-color: #54A7B2;
    border-radius: 0.5em;
    padding: 0;
    margin: auto;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}
.nav .subnav-left{
   padding: 0;
}
.nav .subnav-right{
    padding: 0;
 }
.subnav-left a{
    display: block;
    color: white;
    border-radius: 0.5em;
    background-color: #54A7B2;
    text-decoration: none;
}
.subnav-right a{
    display: block;
    color: #54A7B2;
    border-radius: 0.5em;
    background-color: white;
    text-decoration: none;
}

.position{
    display: inline-block;
    height: 2.2em;
    width: 2.2em;
    margin-top: auto;
    margin-bottom: auto;
    background-image: url(../images/css_sprites.png);
    background-position: -1em -7.7em;
    position: absolute;
    top: 16px;
    left: 90%;

}
.box{
    margin-top:-4em;
    height: 40px;
    width: 100%;
    display: flex;
    position: fixed;
    background-color: white;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-right: 0;
    z-index: 1;
    font-weight: bold;
    right: 0;
    margin-left: 0;
    margin-right: 0;
}
.column{
    flex: 1;
    text-align: center;

}
.column a{
    display: inline-block;
    height: 100%; 
    width: 90%;
    line-height: 40px;    
    color:#999999;
    font-size: 13px;
    text-decoration: none;
}
.arror{
    display: block;
    width: 8px;
    height: 8px;
    background-image: url(../images/css_sprites.png);
    background-position: -78px -49px;
    float: right;
    margin-right: 10px;
    margin-left: -10px;
    margin-top: 15px;

}
.dropdown-content{
    height: 40px;
    background-color: white;
    font-size: 13px;
    color: #999999;
    line-height: 40px;
}
.content{
    display: none;
}
.content a:hover{
    background-color: aliceblue;
}
.button:hover .content{
    display: block;
}

.main{
    margin-top: 9.5em;
    background-color: #ffffff;
}

.contain{
    width: 100%;
    padding: 0;
}
.row1 .line1{
    margin-top: 15px;
    margin-left: 16px;
    font-size: 13px;
    color: #999999;
    padding: 0;
    float: left;
}
.calendar{
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url(../images/css_sprites.png);
    background-position: -10px -119px;
    margin-right: 8px;
}
.row2{
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}
.row2 .line1{
    font-size: 13px;
    color: black;
    padding: 0;
    text-align: left;
    margin-left: 40px;
}

.row2 .line2{
    font-size: 14px;
    color: red;
    padding: 0;
    text-align: right;

}
.line2 div{
    padding: 0;
    align-items: center;
    display: -webkit-inline-flex;
}
.arrow2{
    width: 9px;
    height: 17px;
    background-image: url(../images/css_sprites.png);
    background-position: -122px -50px;
    margin-left: 10px;
    float: right;
    margin-top: 2px;
}
.loc{
    display: inline-block;
    width: 10px;
    height: 11px;
    background-image: url(../images/css_sprites.png);
    background-position: -92px -77px;
    margin-right: 8px;
}
.row3{
    padding: 0;
}
.row3 .line1{
    padding: 0;
    margin-left: 16px;
    font-size: 12px;
    color: #999999;
    margin-bottom: 15px;
}
.push{
    height: 50px;
}
.footer{
    margin-top: -50px;
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    background-color: #f8fafb;
    right: 0;
    font-weight: bold;
}
.footer .container-fluid{
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}
.footer .container-fluid .row{
    height: 50px;
}

.foot-logo{
    display: block;
    width: 24px;
    height: 21px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}
.logo-left{
    background-image: url(../images/css_sprites.png);
    background-position: -78px -10px;
}
.logo-right{
    background-image: url(../images/css_sprites.png);
    background-position: -50px -77px;
}
.foot-text{
    display: block;
    margin: auto;  
}
.left-text{
    color: #54A7B2;
    font-size: 12px;
}
.right-text{
    color: #999999;
    font-size: 12px;
}
.roll{
    padding: 0;
}
.circle{
    width: 48px;
    height: 48px;
    display: inline-block;
    background-image: url(../images/css_sprites.png);
    background-position: -10px -10px;
    margin-top: 2px;
}
.logo-center{
    display: inline-block;
    width: 21px;
    height: 21px;
    display: inline-block;
    margin-top: 12px;
    margin-left: 3px;
    background-image: url(../images/css_sprites.png);
    background-position: -122px -10px;
}
.footer a:hover{
    background-color: lightsteelblue;
}