body{
    font-size: 62.5%
}
.cutoffline{
    height: 0;
    width: 100%;
    margin: 0;
    border: 0;
    padding: 0;
    border-top: 0.1em solid #E1E5E7;
}
.divide{
    display: inline-block;
    height: 30px;
    width: 0;
    border: 0;
    margin: 0;
    padding: 0;
    border-left: 1px solid #E1E5E7;
    position: absolute;
    top: 5px;
}
.header{
    height: 5.5em;
    width: 100%;
    background-color: #5fbfcd;
    position: fixed;
    top: 0;
    align-items: center;
    display: -webkit-inline-flex;
    z-index: 1;
}
.head{
    line-height: 4.4em;
    margin: auto;
}
.nav{
    background-color: #54A7B2;
    border-radius: 0.5em;
    padding: 0;
    margin: auto;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}
.nav .subnav-left{
   padding: 0;
}
.nav .subnav-right{
    padding: 0;
 }
.subnav-left a{
    display: block;
    color: white;
    border-radius: 0.5em;
    background-color: #54A7B2;
    text-decoration: none;
}
.subnav-right a{
    display: block;
    color: #54A7B2;
    border-radius: 0.5em;
    background-color: white;
    text-decoration: none;
}

.position{
    height: 2.2em;
    width: 2.2em;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: -3.7em;
    margin-right: 1.5em;
    background-image: url(../images/css_sprites.png);
    background-position: -1em -7.7em;
}
.box{
    margin-top:-4em;
    height: 40px;
    width: 100%;
    display: flex;
    position: fixed;
    background-color: white;
    flex-direction: row;
    flex-wrap: nowrap;
}
.column{
    flex: 1;
    text-align: center;

}
.column a{
    display: inline-block;
    height: 100%; 
    width: 100%;
    line-height: 40px;    
    color:#999999;
    font-size: 13px;
    text-decoration: none;
    position: relative；
}
.arror{
    display: inline-block;
    width: 8px;
    height: 8px;
    background-image: url(../images/css_sprites.png);
    background-position: -78px -49px;
    position: absolute;
    top: 16px;
}
.a1{
    left: 30%;
}
.a2{
    left: 63%;
}
.a3{
    left: 93%;
}
.d1{
    left:33.33%
}
.d2{
    left: 66.66%;
}
.dropdown-content{
    height: 40px;
    background-color: white;
    font-size: 13px;
    color: #999999;
    line-height: 40px;
}
.content{
    display: none;
}
.content a:hover{
    background-color: aliceblue;
}
.button:hover .content{
    display: block;
}

.main{
    margin-top: 9.5em;
    height: 100em;
    background-color: yellow;
}
