body {
  margin: 0; }
  body header h2 {
    color: orange;
    text-align: center; }
  body main .bac {
    width: 4600px;
    height: 1568px;
    background-image: url(../img/9.0.jpg); }
    body main .bac .coordinate {
      padding-left: 245px;
      padding-top: 498px; }
      body main .bac .coordinate .y0 {
        height: 75px; }
      body main .bac .coordinate .x0y0 {
        display: inline-block;
        opacity: 0.8;
        margin: 0px;
        width: 75px;
        height: 75px;
        background-color: greenyellow; }
      body main .bac .coordinate .x1y0 {
        display: inline-block;
        opacity: 0.8;
        margin: 0px;
        width: 184px;
        height: 50px;
        margin-bottom: 20px;
        margin-bottom: 8px;
        background-color: aqua; }
      body main .bac .coordinate .x2y0 {
        display: inline-block;
        opacity: 0.8;
        margin: 0px;
        width: 120px;
        height: 70px;
        background-color: aquamarine; }
      body main .bac .coordinate .x3y0 {
        display: inline-block;
        opacity: 0.8;
        margin: 0px;
        width: 568px;
        height: 65px;
        background-color: bisque; }
      body main .bac .coordinate .x4y0 {
        display: inline-block;
        opacity: 0.8;
        margin: 0px;
        width: 180px;
        height: 45px;
        margin-bottom: 10px;
        background-color: aqua; }
      body main .bac .coordinate .x5y0 {
        display: inline-block;
        opacity: 0.8;
        margin: 0px;
        width: 1500px;
        height: 50px;
        margin-bottom: 8px;
        background-color: bisque; }
      body main .bac .coordinate .x6y0 {
        display: inline-block;
        opacity: 0.8;
        margin: 0px;
        width: 245px;
        height: 45px;
        margin-bottom: 10px;
        background-color: aqua; }
      body main .bac .coordinate .x7y0 {
        display: inline-block;
        opacity: 0.8;
        margin: 0px;
        width: 60px;
        height: 65px;
        background-color: greenyellow; }
      body main .bac .coordinate .x8y0 {
        display: inline-block;
        opacity: 0.8;
        margin: 0px;
        width: 80px;
        height: 65px;
        background-color: aqua; }
      body main .bac .coordinate .x9y0 {
        display: inline-block;
        opacity: 0.8;
        margin: 0px;
        width: 75px;
        height: 65px;
        margin-left: 25px;
        background-color: greenyellow; }
      body main .bac .coordinate .y0_1 {
        display: inline-block;
        position: absolute;
        left: 3358px; }
      body main .bac .coordinate .x10y0 {
        display: inline-block;
        opacity: 0.8;
        margin: 0px;
        width: 60px;
        height: 105px;
        position: absolute;
        top: -50px;
        background-color: aqua; }
      body main .bac .coordinate .x11y0 {
        display: inline-block;
        opacity: 0.8;
        margin: 0px;
        width: 553px;
        height: 13px;
        position: absolute;
        top: -23px;
        left: 60px;
        background-color: bisque; }
      body main .bac .coordinate .x12y0 {
        display: inline-block;
        opacity: 0.8;
        margin: 0px;
        width: 553px;
        height: 13px;
        position: absolute;
        top: 5px;
        left: 60px;
        background-color: bisque; }
      body main .bac .coordinate .x13y0 {
        display: inline-block;
        opacity: 0.8;
        margin: 0px;
        width: 60px;
        height: 138px;
        position: absolute;
        top: -30px;
        left: 616px;
        background-color: aqua; }
      body main .bac .coordinate .x14y0 {
        display: inline-block;
        opacity: 0.8;
        margin: 0px;
        width: 40px;
        height: 40px;
        position: absolute;
        top: -38px;
        left: 680px;
        background-color: greenyellow; }
      body main .bac .coordinate .x15y0 {
        display: inline-block;
        opacity: 0.8;
        margin: 0px;
        width: 48px;
        height: 37px;
        position: absolute;
        top: -48px;
        left: 731px;
        background-color: aqua; }
      body main .bac .coordinate .y1 {
        height: 60px; }
      body main .bac .coordinate .x0y1 {
        display: inline-block;
        opacity: 0.8;
        margin: 0px;
        width: 70px;
        height: 60px;
        background-color: aqua; }
      body main .bac .coordinate .y2 {
        display: inline-block;
        width: auto;
        float: left;
        height: 75px; }
      body main .bac .coordinate .x0y2 {
        display: inline-block;
        opacity: 0.8;
        margin: 0px;
        width: 75px;
        height: 75px;
        background-color: greenyellow; }
      body main .bac .coordinate .x1y2 {
        display: inline-block;
        opacity: 0.8;
        margin: 0px;
        width: 184px;
        height: 50px;
        margin-bottom: 20px;
        background-color: aqua; }
      body main .bac .coordinate .x2y2 {
        display: inline-block;
        opacity: 0.8;
        margin: 0px;
        width: 60px;
        height: 40px;
        margin-bottom: 23px;
        background-color: aquamarine; }
      body main .bac .coordinate .x3y2 {
        display: inline-block;
        opacity: 0.8;
        margin: 0px;
        width: 715px;
        height: 65px;
        margin-bottom: 10px;
        background-color: bisque; }
      body main .bac .coordinate .x4y2 {
        display: inline-block;
        opacity: 0.8;
        margin: 0px;
        width: 60px;
        height: 40px;
        margin-bottom: 23px;
        background-color: aquamarine; }
      body main .bac .coordinate .x5y2 {
        display: inline-block;
        opacity: 0.8;
        margin: 0px;
        width: 95px;
        height: 65px;
        margin-bottom: 10px;
        background-color: greenyellow; }
      body main .bac .coordinate .y2_1 {
        display: inline-block;
        position: relative; }
      body main .bac .coordinate .x6y2 {
        display: inline-block;
        opacity: 0.8;
        margin: 0px;
        width: 500px;
        height: 90px;
        margin-top: -35px;
        background-color: aquamarine; }
      body main .bac .coordinate .y2_2 {
        display: inline-block;
        position: relative; }
      body main .bac .coordinate .x7y2 {
        display: inline-block;
        opacity: 0.8;
        margin: 0px;
        width: 62px;
        height: 90px;
        margin-left: 1110px;
        margin-top: -35px;
        background-color: aquamarine; }
      body main .bac .coordinate .x8y2_1 {
        display: inline-block;
        opacity: 0.8;
        margin: 0px;
        width: 245px;
        height: 13px;
        position: absolute;
        top: -27px;
        background-color: bisque; }
      body main .bac .coordinate .x8y2_2 {
        display: inline-block;
        opacity: 0.8;
        margin: 0px;
        width: 860px;
        height: 13px;
        position: absolute;
        background-color: bisque; }
      body main .bac .coordinate .x8y2_3 {
        display: inline-block;
        opacity: 0.8;
        margin: 0px;
        width: 860px;
        height: 13px;
        position: absolute;
        bottom: 18px;
        background-color: bisque; }
      body main .bac .coordinate .x8y2_4 {
        display: inline-block;
        opacity: 0.8;
        margin: 0px;
        width: 550px;
        height: 13px;
        position: absolute;
        left: 1482px;
        top: -27px;
        background-color: bisque; }
      body main .bac .coordinate .x8y2_5 {
        display: inline-block;
        opacity: 0.8;
        margin: 0px;
        width: 20px;
        height: 80px;
        position: absolute;
        top: -33px;
        left: 1225px;
        background-color: red; }
      body main .bac .coordinate .x8y2_6 {
        display: inline-block;
        opacity: 0.8;
        margin: 0px;
        width: 20px;
        height: 138px;
        position: absolute;
        top: -90px;
        left: 1533px;
        background-color: red; }
      body main .bac .coordinate .x8y2_7 {
        display: inline-block;
        opacity: 0.8;
        margin: 0px;
        width: 20px;
        height: 138px;
        position: absolute;
        top: -90px;
        left: 1778px;
        background-color: red; }
      body main .bac .coordinate .x8y2_8 {
        display: inline-block;
        opacity: 0.8;
        margin: 0px;
        width: 20px;
        height: 138px;
        position: absolute;
        top: -90px;
        left: 1961px;
        background-color: red; }

/*# sourceMappingURL=90m.css.map */
