body{
    font-size: 62.5%;
    margin: 0;
    background-color: #ffffff;
    font-weight: bold;   
    padding-bottom: 4.5em;
}
.hr{
    height: 0;
    border: none;
    margin: 0;
    border-top: 0.15em solid #e1e5e7;
    clear: left;
}
.hr2{
    height: 1.5em;
    position: absolute;
    left: 10.5em;
    border: none;
    border-left: 0.15em solid #e1e5e7;
    line-height: 5em;
}
.hr3{
    height: 0em;
    border: none;
    margin: 0;
    margin-left: 2em;
    border-top: 0.15em solid #e1e5e7;

}
.hr4{
    display: inline-block;
    height: 1.5em;
    margin: auto;
    left: 9.5em;
    border: none;
    border-left: 0.15em solid #e1e5e7;
}
.header{
    width: 100%;
    height: 4em;
    line-height: 4em;
    background-color: #5fbfcd;
    position: fixed;
    top: 0em;
}
.back{
    width: 1.5em;
    height: 4em;
    float: left;
    margin-left: 1em;
    margin-right: -2.5em;
    background-image: url(../images/task5-4_03.png);
    background-position: center center;
    background-repeat: no-repeat;
}
.title{
    font-size: 1.5em;
    color: white;
    text-align: center;
}
.main{
    margin-top: 4em;
    margin-bottom: -5.2em;
    height: auto !important;
}
.main .introduction{
    width: 100%;
    height: 16.35em;
    background-image: url(../images/task5-1_03.png);
    overflow: hidden;
    background-size: cover;
    align-items: center;
    display: -webkit-flex;
}
.main .introduction .photo{
    height: 8.5em;
    width: 8.5em;
    float: left;
    background-image: url(../images/task5-6_03.png);
    background-repeat: no-repeat;
    background-position: center center;
    margin-left: 1.5em;
}
.main .introduction .info{
    font-size: 1.5em;
    color: white;
    float: left;
    margin-top: -2em;
    margin-left: 2em;
}
.main .introduction .location{
    font-size: 1em;
    float: left;
    margin-top: 2em;
    margin-left: -9em;
}
.main .introduction .location .logo{
    width: 0.9em;
    height: 1.15em;
    background-image: url(../images/task5-1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    float: left;
    margin-right: 0.7em;
}
.main .introduction .location span{
    color: white;    
}
.content{
    width: 100%;
    height: auto;
}
.content .row{
    width: 100%;
    align-items: center;
    display: -webkit-flex; 
}
.content .row .line{
    width: 3em;
    height: 5em;
    background-image: url(../images/task5-7_03.png);
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
}
.content .row .star{
    width: 3em;
    height: 5em;
    background-image: url(../images/task5-4_07.png);
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    margin-left: 2em;
    display: flex;
}
.content .row .line3{
    width: 1em;
    height: 5em;
    background: url(../images/task5-9_03.png) no-repeat center center;
    float: left;
    margin-left: 1em;
    margin-right: -2em;
}
.content .row .line4{
    width: 3em;
    height: 5em;
    background: url(../images/task5-9_03.png) no-repeat center center;
}
.content .row .inline{    
    font-size: 1.5em;
    line-height: 3.5em;
    color: rgb(51, 51, 51);
    float: left;
}

.content .row .inline1{ 
    width: 5em;   
    font-size: 1.5em;
    color:rgb(153, 153, 153);
    margin-left: 2em;
}
.content .row .inline2{ 
    width: 70%;
    font-size: 1.5em;
    line-height: 1.5em;
    color: rgb(51, 51, 51);
    flex:1;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}
.content .row .inline3{ 
    width: 70%;   
    font-size: 1.5em;
    line-height: 1.5em;
    color: #e26163;
    flex:1;
    margin-left: 1em;
    margin-right: 1em;
}
.push{
    height:5.2em;
}
.footer{
    width: 100%;
    height: 4.2em;
    position: fixed;
    bottom: 0;
    background-color: white;
    border-top: 0.5em solid white;
    border-bottom: 0.5em solid white;
}
.footer .button1{
    width: 40%;
    height: 2.5em;
    border: 0.2em solid #5fbfcd;
    border-radius: 0.5em;
    float: left;
    margin-left: 6%;
    color: #5fbfcd;
    font-size: 1.5em;
    align-items: center;
    justify-content: center;
    display: -webkit-flex;
}

.footer .button2{
    width: 40%;
    height: 2.5em;
    background-color: #5fbfcd;
    border: 0.2em solid #5fbfcd;
    border-radius: 0.5em;
    float: right;
    margin-right: 6%;
    color: white;
    font-size: 1.5em;
    align-items: center;
    justify-content: center;
    display: -webkit-flex;
}