a {
  text-decoration: none; }

.divider {
  height: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  border-top: 1px solid #e1e5e7; }

body {
  margin: 0; }
  body header {
    width: 100%;
    height: 40px;
    background-color: #5fc0cd;
    text-align: center;
    position: fixed;
    top: 0; }
    body header .btn-left {
      background-image: url(../img/css_sprites.png);
      background-repeat: no-repeat;
      width: 10px;
      height: 17px;
      background-position: -10px -10px;
      margin-top: 11px;
      margin-left: 17px;
      float: left; }
    body header .title {
      color: #ffffff;
      font-size: 14px;
      font-weight: bold;
      font-size: 16px;
      display: inline-block;
      margin-top: 9px; }
  body main {
    width: 100%;
    margin-top: 40px; }
    body main .head-bg {
      width: 100%;
      height: 164px;
      background-image: url(../img/task5-1_03.png);
      background-repeat: no-repeat;
      background-size: cover;
      align-items: center;
      display: -webkit-flex; }
      body main .head-bg .head {
        width: 85px;
        height: 85px;
        background-image: url(../img/task5-6_03.png);
        display: inline-block;
        margin-left: 30px; }
      body main .head-bg .name {
        color: #ffffff;
        font-size: 14px;
        font-weight: bold;
        margin-left: 20px;
        margin-top: -20px; }
        body main .head-bg .name span {
          font-size: 13px;
          margin-left: 15px; }
      body main .head-bg .loc {
        background-image: url(../img/css_sprites.png);
        background-repeat: no-repeat;
        display: inline-block;
        background-position: -31px -47px;
        position: absolute;
        top: 137px;
        left: 137px; }
        body main .head-bg .loc div {
          color: #ffffff;
          font-size: 14px;
          font-weight: bold;
          font-size: 10px;
          position: relative;
          left: 17px; }
    body main .line {
      width: 100%;
      height: 50px;
      align-items: center;
      display: -webkit-flex; }
      body main .line .divide {
        background-image: url(../img/css_sprites.png);
        background-repeat: no-repeat;
        display: inline-block;
        width: 2px;
        height: 13px;
        background-position: -72px -10px;
        margin-left: 15px;
        margin-right: 13px; }
      body main .line span {
        font-size: 14px;
        font-weight: bold;
        margin-top: 1.5px;
        color: #333333;
        display: inline-block; }
      body main .line .item {
        width: 5em;
        font-size: 14px;
        font-weight: bold;
        color: #999999;
        display: inline-block;
        margin-left: 0; }
      body main .line .item-content {
        display: inline-block;
        margin-right: 10px;
        flex: 1; }
      body main .line .price {
        color: #e26163; }
      body main .line .star {
        background-image: url(../img/css_sprites.png);
        background-repeat: no-repeat;
        display: inline-block;
        width: 12px;
        height: 12px;
        margin-right: 10px;
        background-position: -40px -10px; }
      body main .line .divider2 {
        background-image: url(../img/css_sprites.png);
        background-repeat: no-repeat;
        display: inline-block;
        width: 2px;
        height: 26px;
        margin-left: 10px;
        margin-right: 10px;
        background-position: -10px -47px; }
    body main .box {
      padding-left: 18px;
      height: auto; }
    body main .line2 {
      height: auto;
      padding-top: 15px;
      padding-bottom: 15px; }
    body main .push {
      height: 100px;
      margin-bottom: -100px; }
  body footer {
    width: 100%;
    height: 100px;
    position: fixed;
    background-color: #ffffff;
    bottom: 0; }
    body footer .btn1 {
      width: 40%;
      height: 44px;
      line-height: 44px;
      display: inline-block;
      border-radius: 6px;
      text-align: center;
      font-weight: bold;
      margin-top: 25px;
      border: 2px solid #5fc0cd;
      color: #5fc0cd;
      float: left;
      margin-left: 6%; }
    body footer .btn2 {
      width: 40%;
      height: 44px;
      line-height: 44px;
      display: inline-block;
      border-radius: 6px;
      text-align: center;
      font-weight: bold;
      margin-top: 25px;
      background-color: #5fc0cd;
      color: #ffffff;
      border: 2px solid #5fc0cd;
      float: right;
      margin-right: 6%; }

/*# sourceMappingURL=index.css.map */
